@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0px;
    font-size: 14px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    line-height: 1.428571429;
}

header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1000;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background: white;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 70px;
    gap: 0.75rem;
    align-items: center;
}

.header-logo {
    justify-content: space-between;
    width: 200px;
    display: flex;
    margin-left: 30px;
}

.header-logo img {
    width: 100px;
}

.header-left {
    display: flex;
    justify-content: center;
}

.header-items {
    margin-right: 20px;
    cursor: pointer;
    height: 70px;
    line-height: 70px;
}

.header-items.actived {
    border-bottom: 4px solid rgb(0, 195, 255);
    color: rgb(0, 195, 255);
}

.header-items:hover {
    border-bottom: 4px solid rgb(0, 195, 255);
    color: rgb(0, 195, 255);
}

.header-user {
    right: 0px;
    flex-shrink: 0;
    position: absolute;
    margin-right: 30px;
    display: flex;
}

.header-search input {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    width: 240px;
    border: 0px;
    padding-left: 50px;
    height: 30px
}

.header-search i {
    position: absolute;
    margin: 10px;
}

.header-user img {
    margin-left: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.container {
    margin: 120px 10%;
}

.container-list-breadcrumb {
    color: rgb(161, 161, 161);
}

.container-list-breadcrumb a {
    margin: 0px 10px;
    text-decoration: none;
    color: rgb(161, 161, 161);
}

.container-list-breadcrumb a:hover {
    color: #333;
}

.container-list-breadcrumb a:first-child {
    margin-left: 0px;
}

.container-list-breadcrumb .actived {
    color: #333;
}

.container-rating {
    display: inline;
}

.container-title {
    font-size: 45px;
    font-weight: bold;
}

.point {
    font-weight: bold;
}

.reviews {
    color: rgb(161, 161, 161);
}

.container-rating .right {
    float: right;
    display: inline-flex;
}

.right-items {
    margin-left: 20px;
    cursor: pointer;
}

.right-items:hover {
    color: rgb(0, 195, 255);
}

.right-items:hover .fa {
    color: rgb(0, 195, 255);
}

.container-image {
    height: 400px;
    width: 100%;
    margin: 10px 0px;
    overflow: hidden;
}

.container-image-main,
.container-image-sub {
    width: 49%;
}

.container-image-main {
    float: left;
}

.container-image-sub {
    float: right;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-image-items {
    row-gap: 10px;
    width: 47%;
    margin: 0px 5px;
    margin-bottom: 5px;
}

.container-image-main img,
.container-image-items img {
    width: 100%;
    cursor: pointer;
}

.container-description {
    margin: 30px 0px;
}

.title-description {
    font-size: 20px;
    font-weight: bold;
}

.container-description-main {
    width: 65%;
    float: left;
}

.container-description-sub {
    width: 27%;
    float: right;
}

.content-description {
    font-size: 14px;
    line-height: 23px;
    margin: 15px 0px
}

.container-description-sub {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

.sub-money {
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 195, 255);
    float: right;
}

.custom-select {
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
}

.custom-select select {
    width: 100%;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.sub-total {
    margin-top: 10px;
}

.sub-total span {
    color: rgb(161, 161, 161);
}

.sub-total #price {
    color: #333;
    font-weight: bold;
    float: right;
}

.btnbuy,
.btnadd {
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
    background-color: rgb(0, 195, 255);
    border: 1px solid rgb(0, 195, 255);
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    color: white;
    transition: .5s;
}

.btnadd {
    background-color: white;
    color: rgb(0, 195, 255);
}

.btnadd .fa {
    color: rgb(0, 195, 255);
}

.btnbuy:hover {
    color: rgb(0, 195, 255);
    background-color: white;
}

.btnadd:hover .fa {
    color: white;
}

.btnadd:hover {
    color: white;
    background-color: rgb(0, 195, 255);
}

.sort-description {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 50%;
}

.sort-description li {
    list-style: none;
}

#spansort {
    align-items: center;
}